body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
	text-align:center;
	color:white;
	font-size:5em;
}

.names {
	text-align:center;
    position: relative;
    top: -60px;
    color:black;
    width:200px;
    height:200px;
    display:inline;
}

.bottom-right {
    position: absolute;
    bottom: -20px;
    right: 55px;
    color:white;
    font-size:24px;
    background-color:transparent;
}

.hp {
    position: absolute;
    bottom: 180px;
    right: 105px;
    color:white;
    font-size:24px;
    background-color:transparent;
}

.top-left {
	position: absolute;
    bottom: 100px;
    right: 80px;
    color:red;
    font-size:24px;
    background-color:black;

}

.title {
    margin:60px;
    font-size:30px;
    color:white;
}

.section {
    height:140px;
}

.char-attacker {
    border-color: white;
}

.char-img {
    width:200px;
    height:200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

